@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background: #fff;
    font-weight: 400;
}
.header{
    max-width: 1155px;
    line-height: 57px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo_img {
    margin-top: 20px;
    background-repeat: no-repeat;
}
.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-size: 18px;
    line-height: 27px;
}
.header__link{
    color: rgba(2, 18, 6, 0.5);
    text-decoration: none;
}
.header__link_login{
    color: rgba(2, 18, 6, 0.7);
    margin-left: 50px;
}
.header__link_pricing{
    margin-right: 190px;
}
.header__link_gradient{
    background: #F44545;
    border-radius: 6px;
    padding: 15px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.main{
    margin-left: 230px;
}
.main__title{
    font-size: 54px;
    font-weight: 550;
    line-height: 81px;
    text-align: left;
    width: 487px;
}
.main__title_end{
    color: rgba(36, 220, 159, 1);
}
.main__desc{
    font-size: 21px;
    line-height: 33.6px;
    text-align: left;
    color: rgba(2, 18, 6, 0.7);
    width: 509px;
}
.main__desc_end{
    color: rgba(2, 18, 6, 1);
}
.form{
    position: relative;
}
.form {
    width: 440px;
    height: 65px;
    box-shadow: -5px 5px 45px 0px rgba(2, 18, 6, 0.15);
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
}
.form__input {
    border-radius: 6px;
    border: none;
    padding: 17px 150px 15px 15px;
    width: 146px;
    height: 27px;
}
.form__button {
    padding-right: 20px;
    background: #F44545;
    border-radius: 6px;
    border: none;
    padding: 15px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    cursor: pointer;
    margin-left: auto;
}
.company{
    margin-top: 45px;
    gap: 50px;
    display: flex;
}
.laptop{
    position: relative;
}
.laptop__img{
    position: absolute;
    top: -450px; 
    width: 746.63px;
    height: 440.87px;
    left: 400.7px;
}
.sponsors{
    background-color: rgba(142, 230, 201, 0.2);
}
.sponsors__img{
    margin-left: 230px;
    margin-right: 230px;
    height: 163px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 45px;
    font-weight: 600;
    line-height: 67.5px;
    width: 600px;
    color: rgba(2, 18, 6, 1);
}
.desc__item{
    font-size: 18px;
    line-height: 28.8px;
    text-align: left;
    color: rgba(2, 18, 6, 0.7);
    width: 400px;
}
.software__solution {
    margin-top: 100px;
}
.card{
    width: 584px;
    height: 610px;
    /* top: 1081px; */
    /* left: 157px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.card__item{
    width: 230px;
    height: 240px;
    background-color: white;
    border-radius: 10px;
    border: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
.card__item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 65px 0px rgba(65, 77, 68, 0.15);
}
/* .card__img1 {
    width: 115px;
    height: 115px;
} */
.card__img11 {
    /* background: #282323; */
    position: relative;
    width: 34.08px;
    height: 35px;
    right: 90px;
    bottom: 55px;
}
.card__img22 {
    /* background: #282323; */
    position: relative;
    width: 34.08px;
    height: 35px;
    right: 90px;
    bottom: 55px;
}
.card__img33 {
    /* background: #282323; */
    position: relative;
    width: 34.08px;
    height: 35px;
    right: 90px;
    bottom: 55px;
}
.card__img44 {
    /* background: #282323; */
    position: relative;
    width: 34.08px;
    height: 35px;
    right: 90px;
    bottom: 55px;
}
.card__title {
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    /* position: absolute;
    top: 1120px; */
    /* text-align: left; */
}
.card__info {
    margin: 0;
}
.card__info_style {
    color: rgba(2, 18, 6, 0.7);
    font-size: 16px;
    line-height: 25.6px;
}
.software__solution_desc {
    position: absolute;
    width: 548px;
    height: 405px;
    top: 1030px;
    left: 825px;
}
.better__tomorrow {
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
}
.desc__button{
    background: #282323;
    border-radius: 6px;
    border: none;
    padding: 15px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    cursor: pointer;
}
.desc__ask{
    color: #FF4D4D;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
}
.analysis__list{
    list-style-image: url(../images/icon.svg);
}
.software__button{
    background: #F44545;
    border-radius: 6px;
    border: none;
    padding: 15px 33px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    cursor: pointer;
}
.description {
    margin-left: 150px;
}